<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<gpx xmlns="http://www.topografix.com/GPX/1/1" xmlns:gpxx="http://www.garmin.com/xmlschemas/GpxExtensions/v3" xmlns:gpxtpx="http://www.garmin.com/xmlschemas/TrackPointExtension/v1" creator="Oregon 400t" version="1.1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.topografix.com/GPX/1/1 http://www.topografix.com/GPX/1/1/gpx.xsd http://www.garmin.com/xmlschemas/GpxExtensions/v3 http://www.garmin.com/xmlschemas/GpxExtensionsv3.xsd http://www.garmin.com/xmlschemas/TrackPointExtension/v1 http://www.garmin.com/xmlschemas/TrackPointExtensionv1.xsd">
<metadata>
    <link href="http://www.garmin.com">
        <text>Garmin International</text>
    </link>
    <time>2009-10-17T22:58:43Z</time>
</metadata>
        <trkpt lat="50.635319" lon="-125.700401">
            <ele>0</ele>
            <time>2017-05-13T22:19:00Z</time>
        </trkpt>
        <trkpt lat="50.629250" lon="-125.692009">
            <ele>0</ele>
            <time>2017-05-13T22:19:02Z</time>
        </trkpt>
        <trkpt lat="50.613068" lon="-125.700172">
            <ele>0</ele>
            <time>2017-05-13T22:19:05Z</time>
        </trkpt>
        <trkpt lat="50.607555" lon="-125.692177">
            <ele>0</ele>
            <time>2017-05-13T22:19:12Z</time>
        </trkpt>
        <trkpt lat="50.606564" lon="-125.688705">
            <ele>0</ele>
            <time>2017-05-13T22:19:18Z</time>
        </trkpt>
        <trkpt lat="50.605270" lon="-125.685524">
            <ele>0</ele>
            <time>2017-05-13T22:19:23Z</time>
        </trkpt>
        <trkpt lat="50.604568" lon="-125.683952">
            <ele>0</ele>
            <time>2017-05-13T22:19:28Z</time>
        </trkpt>
        <trkpt lat="50.602047" lon="-125.683044">
            <ele>0</ele>
            <time>2017-05-13T22:19:31Z</time>
        </trkpt>
        <trkpt lat="50.600819" lon="-125.681595">
            <ele>0</ele>
            <time>2017-05-13T22:19:33Z</time>
        </trkpt>
        <trkpt lat="50.598038" lon="-125.684464">
            <ele>0</ele>
            <time>2017-05-13T22:19:36Z</time>
        </trkpt>
<trk>
    <name>Example GPX Document</name>
    <trkseg>
        <trkpt lat="50.672440" lon="-125.952179">
            <ele>0</ele>
            <time>2017-05-13T22:20:31Z</time>
        </trkpt>
        <trkpt lat="50.636562" lon="-125.705780">
            <ele>0</ele>
            <time>2017-05-13T22:20:34Z</time>
        </trkpt>
    </trkseg>
</trk>
<trk>
    <name>Example GPX Document</name>
    <trkseg>
        <trkpt lat="50.693253" lon="-124.008904">
            <ele>0</ele>
            <time>2017-05-16T00:10:59Z</time>
        </trkpt>
        <trkpt lat="50.662663" lon="-125.960037">
            <ele>0</ele>
            <time>2017-05-16T00:11:00Z</time>
        </trkpt>
    </trkseg>
</trk>
<trk>
    <name>Example GPX Document</name>
    <trkseg>
        <trkpt lat="50.669670" lon="-125.994141">
            <ele>0</ele>
            <time>2017-05-16T19:03:36Z</time>
        </trkpt>
        <trkpt lat="50.660065" lon="-125.938797">
            <ele>0</ele>
            <time>2017-05-16T19:03:38Z</time>
        </trkpt>
    </trkseg>
</trk>
<trk>
    <name>Example GPX Document</name>
    <trkseg>
        <trkpt lat="50.652042" lon="-125.794701">
            <ele>0</ele>
            <time>2017-05-16T23:09:08Z</time>
        </trkpt>
        <trkpt lat="50.634007" lon="-125.688011">
            <ele>0</ele>
            <time>2017-05-16T23:09:10Z</time>
        </trkpt>
        <trkpt lat="50.610924" lon="-125.715759">
            <ele>0</ele>
            <time>2017-05-16T23:09:15Z</time>
        </trkpt>
        <trkpt lat="50.597618" lon="-125.724716">
            <ele>0</ele>
            <time>2017-05-16T23:09:20Z</time>
        </trkpt>
        <trkpt lat="50.585205" lon="-125.743309">
            <ele>0</ele>
            <time>2017-05-16T23:09:23Z</time>
        </trkpt>
        <trkpt lat="50.576256" lon="-125.803650">
            <ele>0</ele>
            <time>2017-05-16T23:09:28Z</time>
        </trkpt>
        <trkpt lat="50.556610" lon="-125.788658">
            <ele>0</ele>
            <time>2017-05-16T23:09:31Z</time>
        </trkpt>
        <trkpt lat="50.542156" lon="-125.780029">
            <ele>0</ele>
            <time>2017-05-16T23:09:33Z</time>
        </trkpt>
        <trkpt lat="50.527119" lon="-125.706055">
            <ele>0</ele>
            <time>2017-05-16T23:09:43Z</time>
        </trkpt>
        <trkpt lat="50.511490" lon="-125.689896">
            <ele>0</ele>
            <time>2017-05-16T23:09:49Z</time>
        </trkpt>
        <trkpt lat="50.487495" lon="-125.781082">
            <ele>0</ele>
            <time>2017-05-16T23:09:52Z</time>
        </trkpt>
    </trkseg>
</trk>
<trk>
    <name>Example GPX Document</name>
    <trkseg>
        <trkpt lat="50.286736" lon="-123.207359">
            <ele>0</ele>
            <time>2017-05-23T13:19:07Z</time>
        </trkpt>
        <trkpt lat="50.286736" lon="-123.199585">
            <ele>0</ele>
            <time>2017-05-23T13:19:09Z</time>
        </trkpt>
    </trkseg>
</trk>
<trk>
    <name>Example GPX Document</name>
    <trkseg>
        <trkpt lat="50.286518" lon="-123.189331">
            <ele>0</ele>
            <time>2017-05-23T13:19:46Z</time>
        </trkpt>
        <trkpt lat="50.287964" lon="-123.191475">
            <ele>0</ele>
            <time>2017-05-23T13:19:47Z</time>
        </trkpt>
        <trkpt lat="50.286663" lon="-123.192825">
            <ele>0</ele>
            <time>2017-05-23T13:19:49Z</time>
        </trkpt>
        <trkpt lat="50.287636" lon="-123.194405">
            <ele>0</ele>
            <time>2017-05-23T13:19:49Z</time>
        </trkpt>
        <trkpt lat="50.286663" lon="-123.195976">
            <ele>0</ele>
            <time>2017-05-23T13:19:50Z</time>
        </trkpt>
        <trkpt lat="50.287491" lon="-123.197838">
            <ele>0</ele>
            <time>2017-05-23T13:19:52Z</time>
        </trkpt>
        <trkpt lat="50.287239" lon="-123.198685">
            <ele>0</ele>
            <time>2017-05-23T13:19:52Z</time>
        </trkpt>
    </trkseg>
</trk>
<trk>
    <name>Example GPX Document</name>
    <trkseg>
        <trkpt lat="50.156509" lon="-123.293915">
            <ele>0</ele>
            <time>2017-05-26T21:26:18Z</time>
        </trkpt>
        <trkpt lat="50.196175" lon="-123.355629">
            <ele>0</ele>
            <time>2017-05-26T21:26:22Z</time>
        </trkpt>
        <trkpt lat="50.226521" lon="-123.362282">
            <ele>0</ele>
            <time>2017-05-26T21:26:25Z</time>
        </trkpt>
    </trkseg>
</trk>
<trk>
    <name>Example GPX Document</name>
    <trkseg>
        <trkpt lat="50.449398" lon="-124.390999">
            <ele>0</ele>
            <time>2017-05-26T23:57:33Z</time>
        </trkpt>
        <trkpt lat="50.550106" lon="-124.456451">
            <ele>0</ele>
            <time>2017-05-26T23:57:35Z</time>
        </trkpt>
        <trkpt lat="50.658443" lon="-124.475685">
            <ele>0</ele>
            <time>2017-05-26T23:57:46Z</time>
        </trkpt>
    </trkseg>
</trk>
<trk>
    <name>Example GPX Document</name>
    <trkseg>
        <trkpt lat="50.290588" lon="-123.206108">
            <ele>0</ele>
            <time>2017-05-29T20:45:55Z</time>
        </trkpt>
        <trkpt lat="50.335285" lon="-124.999397">
            <ele>0</ele>
            <time>2017-05-29T20:45:59Z</time>
        </trkpt>
        <trkpt lat="50.308910" lon="-124.942055">
            <ele>0</ele>
            <time>2017-05-29T20:46:01Z</time>
        </trkpt>
        <trkpt lat="50.338146" lon="-124.893707">
            <ele>0</ele>
            <time>2017-05-29T20:46:06Z</time>
        </trkpt>
    </trkseg>
</trk>
<trk>
    <name>Example GPX Document</name>
    <trkseg>
        <trkpt lat="50.438515" lon="-124.501457">
            <ele>0</ele>
            <time>2017-05-29T20:58:34Z</time>
        </trkpt>
        <trkpt lat="50.445446" lon="-124.575348">
            <ele>0</ele>
            <time>2017-05-29T20:58:46Z</time>
        </trkpt>
        <trkpt lat="50.463558" lon="-124.603363">
            <ele>0</ele>
            <time>2017-05-29T20:58:56Z</time>
        </trkpt>
        <trkpt lat="50.472912" lon="-124.632782">
            <ele>0</ele>
            <time>2017-05-29T20:59:12Z</time>
        </trkpt>
        <trkpt lat="50.447189" lon="-124.703514">
            <ele>0</ele>
            <time>2017-05-29T20:59:24Z</time>
        </trkpt>
        <trkpt lat="50.446114" lon="-124.747253">
            <ele>0</ele>
            <time>2017-05-29T20:59:49Z</time>
        </trkpt>
        <trkpt lat="50.413528" lon="-124.784691">
            <ele>0</ele>
            <time>2017-05-29T21:00:04Z</time>
        </trkpt>
    </trkseg>
</trk>
<trk>
    <name>Example GPX Document</name>
    <trkseg>
        <trkpt lat="50.393822" lon="-124.832619">
            <ele>0</ele>
            <time>2017-05-29T21:04:46Z</time>
        </trkpt>
        <trkpt lat="50.394688" lon="-124.832619">
            <ele>0</ele>
            <time>2017-05-29T21:04:59Z</time>
        </trkpt>
    </trkseg>
</trk>
<trk>
    <name>Example GPX Document</name>
    <trkseg>
        <trkpt lat="50.558361" lon="-124.463875">
            <ele>0</ele>
            <time>2017-05-30T16:36:46Z</time>
        </trkpt>
        <trkpt lat="50.556000" lon="-124.469597">
            <ele>0</ele>
            <time>2017-05-30T16:36:48Z</time>
        </trkpt>
        <trkpt lat="50.552452" lon="-124.473358">
            <ele>0</ele>
            <time>2017-05-30T16:36:49Z</time>
        </trkpt>
        <trkpt lat="50.550591" lon="-124.473579">
            <ele>0</ele>
            <time>2017-05-30T16:36:50Z</time>
        </trkpt>
    </trkseg>
</trk>
<trk>
    <name>Example GPX Document</name>
    <trkseg>
        <trkpt lat="50.498077" lon="-124.422966">
            <ele>0</ele>
            <time>2017-06-04T18:39:54Z</time>
        </trkpt>
        <trkpt lat="50.453697" lon="-124.398254">
            <ele>0</ele>
            <time>2017-06-04T18:39:55Z</time>
        </trkpt>
    </trkseg>
</trk>
<trk>
    <name>Example GPX Document</name>
    <trkseg>
        <trkpt lat="50.466984" lon="-124.638031">
            <ele>0</ele>
            <time>2017-06-04T21:47:09Z</time>
        </trkpt>
        <trkpt lat="50.440758" lon="-124.746834">
            <ele>0</ele>
            <time>2017-06-04T21:47:14Z</time>
        </trkpt>
    </trkseg>
</trk>
<trk>
    <name>Example GPX Document</name>
    <trkseg>
        <trkpt lat="50.130554" lon="-124.808800">
            <ele>0</ele>
            <time>2017-06-05T01:56:07Z</time>
        </trkpt>
        <trkpt lat="50.120014" lon="-124.820923">
            <ele>0</ele>
            <time>2017-06-05T01:56:09Z</time>
        </trkpt>
    </trkseg>
</trk>
<trk>
    <name>Example GPX Document</name>
    <trkseg>
        <trkpt lat="50.139648" lon="-124.889023">
            <ele>0</ele>
            <time>2017-06-05T01:56:46Z</time>
        </trkpt>
        <trkpt lat="50.129467" lon="-124.878250">
            <ele>0</ele>
            <time>2017-06-05T01:56:47Z</time>
        </trkpt>
    </trkseg>
</trk>
<trk>
    <name>Example GPX Document</name>
    <trkseg>
        <trkpt lat="50.124340" lon="-124.902031">
            <ele>0</ele>
            <time>2017-06-05T01:56:53Z</time>
        </trkpt>
        <trkpt lat="50.113079" lon="-124.913925">
            <ele>0</ele>
            <time>2017-06-05T01:56:55Z</time>
        </trkpt>
    </trkseg>
</trk>
<trk>
    <name>Example GPX Document</name>
    <trkseg>
        <trkpt lat="50.199997" lon="-124.988098">
            <ele>0</ele>
            <time>2017-06-05T13:49:57Z</time>
        </trkpt>
        <trkpt lat="50.183681" lon="-124.994598">
            <ele>0</ele>
            <time>2017-06-05T13:49:59Z</time>
        </trkpt>
    </trkseg>
</trk>
<trk>
    <name>Example GPX Document</name>
    <trkseg>
        <trkpt lat="50.177547" lon="-124.966324">
            <ele>0</ele>
            <time>2017-06-05T13:50:20Z</time>
        </trkpt>
        <trkpt lat="50.179638" lon="-124.978104">
            <ele>0</ele>
            <time>2017-06-05T13:50:22Z</time>
        </trkpt>
        <trkpt lat="50.177979" lon="-124.985512">
            <ele>0</ele>
            <time>2017-06-05T13:50:23Z</time>
        </trkpt>
    </trkseg>
</trk>
<trk>
    <name>Example GPX Document</name>
    <trkseg>
        <trkpt lat="50.208290" lon="-124.975754">
            <ele>0</ele>
            <time>2017-06-05T13:50:30Z</time>
        </trkpt>
        <trkpt lat="50.201080" lon="-124.986191">
            <ele>0</ele>
            <time>2017-06-05T13:50:31Z</time>
        </trkpt>
    </trkseg>
</trk>
<trk>
    <name>Example GPX Document</name>
    <trkseg>
        <trkpt lat="50.064697" lon="-124.917145">
            <ele>0</ele>
            <time>2017-06-05T17:02:25Z</time>
        </trkpt>
        <trkpt lat="50.021904" lon="-124.932388">
            <ele>0</ele>
            <time>2017-06-05T17:02:27Z</time>
        </trkpt>
        <trkpt lat="49.986599" lon="-123.005058">
            <ele>0</ele>
            <time>2017-06-05T17:02:29Z</time>
        </trkpt>
        <trkpt lat="50.008602" lon="-123.056206">
            <ele>0</ele>
            <time>2017-06-05T17:02:30Z</time>
        </trkpt>
        <trkpt lat="49.983727" lon="-123.229378">
            <ele>0</ele>
            <time>2017-06-05T17:02:33Z</time>
        </trkpt>
    </trkseg>
</trk>
<trk>
    <name>Example GPX Document</name>
    <trkseg>
        <trkpt lat="49.087322" lon="-122.669968">
            <ele>0</ele>
            <time>2017-06-12T11:16:14Z</time>
        </trkpt>
        <trkpt lat="49.809441" lon="-123.445053">
            <ele>0</ele>
            <time>2017-06-12T11:16:21Z</time>
        </trkpt>
    </trkseg>
</trk>
<trk>
    <name>Example GPX Document</name>
    <trkseg>
        <trkpt lat="49.909664" lon="-123.167213">
            <ele>0</ele>
            <time>2017-06-12T21:23:04Z</time>
        </trkpt>
        <trkpt lat="49.880630" lon="-123.397270">
            <ele>0</ele>
            <time>2017-06-12T21:23:06Z</time>
        </trkpt>
        <trkpt lat="49.837067" lon="-123.461716">
            <ele>0</ele>
            <time>2017-06-12T21:23:08Z</time>
        </trkpt>
    </trkseg>
</trk>
<trk>
    <name>Example GPX Document</name>
    <trkseg>
        <trkpt lat="49.262409" lon="-123.967941">
            <ele>0</ele>
            <time>2017-06-12T22:52:04Z</time>
        </trkpt>
        <trkpt lat="49.167316" lon="-122.684189">
            <ele>0</ele>
            <time>2017-06-12T22:52:10Z</time>
        </trkpt>
    </trkseg>
</trk>
<trk>
    <name>Example GPX Document</name>
    <trkseg>
        <trkpt lat="49.502262" lon="-123.912415">
            <ele>0</ele>
            <time>2017-06-13T02:58:38Z</time>
        </trkpt>
        <trkpt lat="49.122612" lon="-122.682495">
            <ele>0</ele>
            <time>2017-06-13T02:58:44Z</time>
        </trkpt>
    </trkseg>
</trk>
</gpx>
