<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<gpx xmlns="http://www.topografix.com/GPX/1/1" xmlns:gpxx="http://www.garmin.com/xmlschemas/GpxExtensions/v3" xmlns:gpxtpx="http://www.garmin.com/xmlschemas/TrackPointExtension/v1" creator="Oregon 400t" version="1.1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.topografix.com/GPX/1/1 http://www.topografix.com/GPX/1/1/gpx.xsd http://www.garmin.com/xmlschemas/GpxExtensions/v3 http://www.garmin.com/xmlschemas/GpxExtensionsv3.xsd http://www.garmin.com/xmlschemas/TrackPointExtension/v1 http://www.garmin.com/xmlschemas/TrackPointExtensionv1.xsd">
<metadata>
    <link href="http://www.garmin.com">
        <text>Garmin International</text>
    </link>
    <time>2009-10-17T22:58:43Z</time>
</metadata>
<trk>
    <name>Example GPX Document</name>
    <trkseg>
        <trkpt lat="50.672440" lon="-126.047821">
            <ele>0</ele>
            <time>2017-05-13T22:20:31Z</time>
        </trkpt>
        <trkpt lat="50.636562" lon="-126.294220">
            <ele>0</ele>
            <time>2017-05-13T22:20:34Z</time>
        </trkpt>
    </trkseg>
</trk>
<trk>
    <name>Example GPX Document</name>
    <trkseg>
        <trkpt lat="50.693253" lon="-125.991096">
            <ele>0</ele>
            <time>2017-05-16T00:10:59Z</time>
        </trkpt>
        <trkpt lat="50.662663" lon="-126.039963">
            <ele>0</ele>
            <time>2017-05-16T00:11:00Z</time>
        </trkpt>
    </trkseg>
</trk>
<trk>
    <name>Example GPX Document</name>
    <trkseg>
        <trkpt lat="50.669670" lon="-126.005859">
            <ele>0</ele>
            <time>2017-05-16T19:03:36Z</time>
        </trkpt>
        <trkpt lat="50.660065" lon="-126.061203">
            <ele>0</ele>
            <time>2017-05-16T19:03:38Z</time>
        </trkpt>
    </trkseg>
</trk>
<trk>
    <name>Example GPX Document</name>
    <trkseg>
        <trkpt lat="50.652042" lon="-126.205299">
            <ele>0</ele>
            <time>2017-05-16T23:09:08Z</time>
        </trkpt>
        <trkpt lat="50.634007" lon="-126.311989">
            <ele>0</ele>
            <time>2017-05-16T23:09:10Z</time>
        </trkpt>
        <trkpt lat="50.610924" lon="-126.284241">
            <ele>0</ele>
            <time>2017-05-16T23:09:15Z</time>
        </trkpt>
        <trkpt lat="50.597618" lon="-126.275284">
            <ele>0</ele>
            <time>2017-05-16T23:09:20Z</time>
        </trkpt>
        <trkpt lat="50.585205" lon="-126.256691">
            <ele>0</ele>
            <time>2017-05-16T23:09:23Z</time>
        </trkpt>
        <trkpt lat="50.576256" lon="-126.196350">
            <ele>0</ele>
            <time>2017-05-16T23:09:28Z</time>
        </trkpt>
        <trkpt lat="50.556610" lon="-126.211342">
            <ele>0</ele>
            <time>2017-05-16T23:09:31Z</time>
        </trkpt>
        <trkpt lat="50.542156" lon="-126.219971">
            <ele>0</ele>
            <time>2017-05-16T23:09:33Z</time>
        </trkpt>
        <trkpt lat="50.527119" lon="-126.293945">
            <ele>0</ele>
            <time>2017-05-16T23:09:43Z</time>
        </trkpt>
        <trkpt lat="50.511490" lon="-126.310104">
            <ele>0</ele>
            <time>2017-05-16T23:09:49Z</time>
        </trkpt>
        <trkpt lat="50.487495" lon="-126.218918">
            <ele>0</ele>
            <time>2017-05-16T23:09:52Z</time>
        </trkpt>
    </trkseg>
</trk>
<trk>
    <name>Example GPX Document</name>
    <trkseg>
        <trkpt lat="50.286736" lon="-124.792641">
            <ele>0</ele>
            <time>2017-05-23T13:19:07Z</time>
        </trkpt>
        <trkpt lat="50.286736" lon="-124.800415">
            <ele>0</ele>
            <time>2017-05-23T13:19:09Z</time>
        </trkpt>
    </trkseg>
</trk>
<trk>
    <name>Example GPX Document</name>
    <trkseg>
        <trkpt lat="50.286518" lon="-124.810669">
            <ele>0</ele>
            <time>2017-05-23T13:19:46Z</time>
        </trkpt>
        <trkpt lat="50.287964" lon="-124.808525">
            <ele>0</ele>
            <time>2017-05-23T13:19:47Z</time>
        </trkpt>
        <trkpt lat="50.286663" lon="-124.807175">
            <ele>0</ele>
            <time>2017-05-23T13:19:49Z</time>
        </trkpt>
        <trkpt lat="50.287636" lon="-124.805595">
            <ele>0</ele>
            <time>2017-05-23T13:19:49Z</time>
        </trkpt>
        <trkpt lat="50.286663" lon="-124.804024">
            <ele>0</ele>
            <time>2017-05-23T13:19:50Z</time>
        </trkpt>
        <trkpt lat="50.287491" lon="-124.802162">
            <ele>0</ele>
            <time>2017-05-23T13:19:52Z</time>
        </trkpt>
        <trkpt lat="50.287239" lon="-124.801315">
            <ele>0</ele>
            <time>2017-05-23T13:19:52Z</time>
        </trkpt>
    </trkseg>
</trk>
<trk>
    <name>Example GPX Document</name>
    <trkseg>
        <trkpt lat="50.156509" lon="-124.706085">
            <ele>0</ele>
            <time>2017-05-26T21:26:18Z</time>
        </trkpt>
        <trkpt lat="50.196175" lon="-124.644371">
            <ele>0</ele>
            <time>2017-05-26T21:26:22Z</time>
        </trkpt>
        <trkpt lat="50.226521" lon="-124.637718">
            <ele>0</ele>
            <time>2017-05-26T21:26:25Z</time>
        </trkpt>
    </trkseg>
</trk>
<trk>
    <name>Example GPX Document</name>
    <trkseg>
        <trkpt lat="50.449398" lon="-125.609001">
            <ele>0</ele>
            <time>2017-05-26T23:57:33Z</time>
        </trkpt>
        <trkpt lat="50.550106" lon="-125.543549">
            <ele>0</ele>
            <time>2017-05-26T23:57:35Z</time>
        </trkpt>
        <trkpt lat="50.658443" lon="-125.524315">
            <ele>0</ele>
            <time>2017-05-26T23:57:46Z</time>
        </trkpt>
    </trkseg>
</trk>
<trk>
    <name>Example GPX Document</name>
    <trkseg>
        <trkpt lat="50.290588" lon="-124.793892">
            <ele>0</ele>
            <time>2017-05-29T20:45:55Z</time>
        </trkpt>
        <trkpt lat="50.335285" lon="-125.000603">
            <ele>0</ele>
            <time>2017-05-29T20:45:59Z</time>
        </trkpt>
        <trkpt lat="50.308910" lon="-125.057945">
            <ele>0</ele>
            <time>2017-05-29T20:46:01Z</time>
        </trkpt>
        <trkpt lat="50.338146" lon="-125.106293">
            <ele>0</ele>
            <time>2017-05-29T20:46:06Z</time>
        </trkpt>
    </trkseg>
</trk>
<trk>
    <name>Example GPX Document</name>
    <trkseg>
        <trkpt lat="50.438515" lon="-125.498543">
            <ele>0</ele>
            <time>2017-05-29T20:58:34Z</time>
        </trkpt>
        <trkpt lat="50.445446" lon="-125.424652">
            <ele>0</ele>
            <time>2017-05-29T20:58:46Z</time>
        </trkpt>
        <trkpt lat="50.463558" lon="-125.396637">
            <ele>0</ele>
            <time>2017-05-29T20:58:56Z</time>
        </trkpt>
        <trkpt lat="50.472912" lon="-125.367218">
            <ele>0</ele>
            <time>2017-05-29T20:59:12Z</time>
        </trkpt>
        <trkpt lat="50.447189" lon="-125.296486">
            <ele>0</ele>
            <time>2017-05-29T20:59:24Z</time>
        </trkpt>
        <trkpt lat="50.446114" lon="-125.252747">
            <ele>0</ele>
            <time>2017-05-29T20:59:49Z</time>
        </trkpt>
        <trkpt lat="50.413528" lon="-125.215309">
            <ele>0</ele>
            <time>2017-05-29T21:00:04Z</time>
        </trkpt>
    </trkseg>
</trk>
<trk>
    <name>Example GPX Document</name>
    <trkseg>
        <trkpt lat="50.393822" lon="-125.167381">
            <ele>0</ele>
            <time>2017-05-29T21:04:46Z</time>
        </trkpt>
        <trkpt lat="50.394688" lon="-125.167381">
            <ele>0</ele>
            <time>2017-05-29T21:04:59Z</time>
        </trkpt>
    </trkseg>
</trk>
<trk>
    <name>Example GPX Document</name>
    <trkseg>
        <trkpt lat="50.558361" lon="-125.536125">
            <ele>0</ele>
            <time>2017-05-30T16:36:46Z</time>
        </trkpt>
        <trkpt lat="50.556000" lon="-125.530403">
            <ele>0</ele>
            <time>2017-05-30T16:36:48Z</time>
        </trkpt>
        <trkpt lat="50.552452" lon="-125.526642">
            <ele>0</ele>
            <time>2017-05-30T16:36:49Z</time>
        </trkpt>
        <trkpt lat="50.550591" lon="-125.526421">
            <ele>0</ele>
            <time>2017-05-30T16:36:50Z</time>
        </trkpt>
    </trkseg>
</trk>
<trk>
    <name>Example GPX Document</name>
    <trkseg>
        <trkpt lat="50.498077" lon="-125.577034">
            <ele>0</ele>
            <time>2017-06-04T18:39:54Z</time>
        </trkpt>
        <trkpt lat="50.453697" lon="-125.601746">
            <ele>0</ele>
            <time>2017-06-04T18:39:55Z</time>
        </trkpt>
    </trkseg>
</trk>
<trk>
    <name>Example GPX Document</name>
    <trkseg>
        <trkpt lat="50.466984" lon="-125.361969">
            <ele>0</ele>
            <time>2017-06-04T21:47:09Z</time>
        </trkpt>
        <trkpt lat="50.440758" lon="-125.253166">
            <ele>0</ele>
            <time>2017-06-04T21:47:14Z</time>
        </trkpt>
    </trkseg>
</trk>
<trk>
    <name>Example GPX Document</name>
    <trkseg>
        <trkpt lat="50.130554" lon="-125.191200">
            <ele>0</ele>
            <time>2017-06-05T01:56:07Z</time>
        </trkpt>
        <trkpt lat="50.120014" lon="-125.179077">
            <ele>0</ele>
            <time>2017-06-05T01:56:09Z</time>
        </trkpt>
    </trkseg>
</trk>
<trk>
    <name>Example GPX Document</name>
    <trkseg>
        <trkpt lat="50.139648" lon="-125.110977">
            <ele>0</ele>
            <time>2017-06-05T01:56:46Z</time>
        </trkpt>
        <trkpt lat="50.129467" lon="-125.121750">
            <ele>0</ele>
            <time>2017-06-05T01:56:47Z</time>
        </trkpt>
    </trkseg>
</trk>
<trk>
    <name>Example GPX Document</name>
    <trkseg>
        <trkpt lat="50.124340" lon="-125.097969">
            <ele>0</ele>
            <time>2017-06-05T01:56:53Z</time>
        </trkpt>
        <trkpt lat="50.113079" lon="-125.086075">
            <ele>0</ele>
            <time>2017-06-05T01:56:55Z</time>
        </trkpt>
    </trkseg>
</trk>
<trk>
    <name>Example GPX Document</name>
    <trkseg>
        <trkpt lat="50.199997" lon="-125.011902">
            <ele>0</ele>
            <time>2017-06-05T13:49:57Z</time>
        </trkpt>
        <trkpt lat="50.183681" lon="-125.005402">
            <ele>0</ele>
            <time>2017-06-05T13:49:59Z</time>
        </trkpt>
    </trkseg>
</trk>
<trk>
    <name>Example GPX Document</name>
    <trkseg>
        <trkpt lat="50.177547" lon="-125.033676">
            <ele>0</ele>
            <time>2017-06-05T13:50:20Z</time>
        </trkpt>
        <trkpt lat="50.179638" lon="-125.021896">
            <ele>0</ele>
            <time>2017-06-05T13:50:22Z</time>
        </trkpt>
        <trkpt lat="50.177979" lon="-125.014488">
            <ele>0</ele>
            <time>2017-06-05T13:50:23Z</time>
        </trkpt>
    </trkseg>
</trk>
<trk>
    <name>Example GPX Document</name>
    <trkseg>
        <trkpt lat="50.208290" lon="-125.024246">
            <ele>0</ele>
            <time>2017-06-05T13:50:30Z</time>
        </trkpt>
        <trkpt lat="50.201080" lon="-125.013809">
            <ele>0</ele>
            <time>2017-06-05T13:50:31Z</time>
        </trkpt>
    </trkseg>
</trk>
<trk>
    <name>Example GPX Document</name>
    <trkseg>
        <trkpt lat="50.064697" lon="-125.082855">
            <ele>0</ele>
            <time>2017-06-05T17:02:25Z</time>
        </trkpt>
        <trkpt lat="50.021904" lon="-125.067612">
            <ele>0</ele>
            <time>2017-06-05T17:02:27Z</time>
        </trkpt>
        <trkpt lat="49.986599" lon="-124.994942">
            <ele>0</ele>
            <time>2017-06-05T17:02:29Z</time>
        </trkpt>
        <trkpt lat="50.008602" lon="-124.943794">
            <ele>0</ele>
            <time>2017-06-05T17:02:30Z</time>
        </trkpt>
        <trkpt lat="49.983727" lon="-124.770622">
            <ele>0</ele>
            <time>2017-06-05T17:02:33Z</time>
        </trkpt>
    </trkseg>
</trk>
<trk>
    <name>Example GPX Document</name>
    <trkseg>
        <trkpt lat="49.087322" lon="-123.330032">
            <ele>0</ele>
            <time>2017-06-12T11:16:14Z</time>
        </trkpt>
        <trkpt lat="49.809441" lon="-124.554947">
            <ele>0</ele>
            <time>2017-06-12T11:16:21Z</time>
        </trkpt>
    </trkseg>
</trk>
<trk>
    <name>Example GPX Document</name>
    <trkseg>
        <trkpt lat="49.909664" lon="-124.832787">
            <ele>0</ele>
            <time>2017-06-12T21:23:04Z</time>
        </trkpt>
        <trkpt lat="49.880630" lon="-124.602730">
            <ele>0</ele>
            <time>2017-06-12T21:23:06Z</time>
        </trkpt>
        <trkpt lat="49.837067" lon="-124.538284">
            <ele>0</ele>
            <time>2017-06-12T21:23:08Z</time>
        </trkpt>
    </trkseg>
</trk>
<trk>
    <name>Example GPX Document</name>
    <trkseg>
        <trkpt lat="49.262409" lon="-124.032059">
            <ele>0</ele>
            <time>2017-06-12T22:52:04Z</time>
        </trkpt>
        <trkpt lat="49.167316" lon="-123.315811">
            <ele>0</ele>
            <time>2017-06-12T22:52:10Z</time>
        </trkpt>
    </trkseg>
</trk>
<trk>
    <name>Example GPX Document</name>
    <trkseg>
        <trkpt lat="49.502262" lon="-124.087585">
            <ele>0</ele>
            <time>2017-06-13T02:58:38Z</time>
        </trkpt>
        <trkpt lat="49.122612" lon="-123.317505">
            <ele>0</ele>
            <time>2017-06-13T02:58:44Z</time>
        </trkpt>
    </trkseg>
</trk>
</gpx>
